<!DOCTYPE HTML>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel='stylesheet' href='https://cloudletbot.ru/css/main.css'>
		<link rel="shortcut icon" href="https://cloudletbot.ru/favicon.png" type="image/png">
		<title>Cloudlet Engine</title>
	</head>
	<body>
		<div class='wrapper'>
			<div class='header'></div>
			<div class='content'>
				<div class='site-logo'>
					<img src='https://cloudletbot.ru/src/cloud.png' alt=''>
				</div>
				<div class='centered-flex'>
					<div class='centered-flex__item'>
						<label>Welcome in
							<br/>Cloudlet Engine!</label>
						<a href="https://cloudletbot.ru/"><small id='players'>cloudletbot.ru</small></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>